<h1>Dashboard</h1>

<section class="row text-center placeholders">


  <div class="placeholder " *ngFor="let bank of banks">
    <div class="circle">Bal: {{bank.balance}}</div>
    <h4>{{bank.bankName}}</h4>
    <div class="text-muted">{{ bank.AccountNumber }}</div>
  </div>
  <div class="placeholder ">
    <div class="circle">Bal: {{ totalBal }}</div>
    <h4>Total Balance</h4>
  </div>

    <div class="placeholder">
      <div class="circle" [ngClass]="(totalDebt>0) ? 'warn' :'ok'">Bal: {{ totalDebt }}</div>
      <h4>Total Debt</h4>
    </div>


</section>

<h2>Expance</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Description</th>
        <th>Amount</th>
        <th scope="col">Begin</th>
        <th scope="col">End</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exp of expanceList" [ngClass]=" exp.isPaid ? 'done' : 'pending'">
        <td>{{ exp.type }}</td>
        <td>{{ exp.description }}</td>
        <td>{{ exp.amount }}</td>
        <td>{{ exp.stDate }}</td>
        <td>{{ exp.endDate }}</td>
      </tr>
    </tbody>
  </table>
</div>