
/* Placeholders */

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.circle{
  background: #0275d8;
  border-radius: 1000px;
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  margin: 10px;
  color: white;
}

  .danger {
    background: #f2dede;
}

.success{
   background:#dff0d8;
  font-size: 3em;
  color: black;
}


